html {
  font-size: 62.5%;
}
.icon {
  fill: white;
  height: 32px;
  width: 32px;
  object-fit: cover;
}
.logo img {
  width: 150px;
}
.logo {
  display: block;
}
body {
  background: url("images/bg-desktop.svg");
}
